<!DOCTYPE html>
<html ng-app="App">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="AppController">
  <div class="container">
    
    <a class="logo" href="#!/">T</a>
    <nav class="navbar">
      <button class="hamburger" ng-click="toggleMenu()">☰</button>
      
        <div class="navbar-nav" ng-if="menuVisible">
          
          <a class="item" href="#!/login" ng-click="toggleMenu(1)">Login</a>
          <a class="item" href="#!/register" ng-click="toggleMenu(2)">Register</a>
          <a class="item" href="#!/players" ng-click="toggleMenu(3)">Add Players</a>
          <a class="item" href="#!/wickets" ng-click="toggleMenu(4)">Add Wickets</a>
          <a class="item" href="#!/score" ng-click="toggleMenu(5)">Score</a>
          <a class="item" href="#!/teamscore" ng-click="toggleMenu(6)">Team Score</a>
          <a class="item" href="#!/winner" ng-click="toggleMenu(7)">Winner</a>
          <a class="item" href="#!/h2h" ng-click="toggleMenu(8)">H2H</a>
        </div>

      </div>
    </nav>

    <!-- Snackbar for Success/Failure -->
    <div id="snackbar" class="snackbar">
      <span id="snackbar-message"></span>
      <div class="progress-bar"></div>
    </div>
    <ng-view class="middle"></ng-view>
  </div>

  <script src="app.js"></script>
</body>
</html>